@media (pointer: coarse) {
    body {
        font-family: Arial, sans-serif;
        font-size: 120%;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}

@media (pointer: fine) {
    body {
        font-family: Arial, sans-serif;
    }
}

@media (orientation: landscape) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    textarea.source {
        width: 100%;
        height: 90%;
    }
    svg.svg {
        width: 100%;
        height: 100%;
    }
}

@media (orientation: portrait) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }
    textarea.source {
        width: 100%;
    }
    svg.svg {
        width: 100%;
        height: 100%;
    }
}

textarea.source {
    font-size: inherit;
    white-space: nowrap;
    overflow: auto;
}

button {
    font-size: inherit;
}

math {
    font-size: 110%;
}