@media (pointer: coarse) {
    body {
        font-family: Arial, sans-serif;
        font-size: 120%;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}

@media (pointer: fine) {
    body {
        font-family: Arial, sans-serif;
    }
}

@media (orientation: landscape) {
    html, body {
        margin: 0;
        padding: 0;
    }
    div.main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #result {
        max-height: calc( 100vh - 1em );
        overflow:scroll;
    }
    div.window {
        height: calc( 100vh - 1em );
    }
    textarea.source {
        resize: none;
    }
    div.fileDialog {
        width: 30em;
        margin-left: -15em;
    }
}

@media (orientation: portrait) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #result {
        max-height: 70vh;
        overflow:scroll;
    }
    div.main {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
    div.fileDialog {
        width: 20em;
        margin-left: -10em;
    }
    textarea.source {
        resize: vertical;
    }
}

#result {
    margin: 0.3em;
}

svg.svg {
    width: 100%;
    height: auto;
}

div.window {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0.3em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
}

textarea.source {
    font-size: inherit;
    width: 100%;
    white-space: pre;
    overflow: auto;
}

input.file {
    font-size: inherit;
    display: flex;
    margin-left: 0.25em;
    width: 100%;
}

button {
    font-size: inherit;
    margin: 0.1em 0.25em 0.1em 0.25em;
}

math {
    font-size: 110%;
}

div.toolbar {
    display:flex;
    background: #eee;
}

div.buttons {
    display:flex;
}

.menu-content {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 2ex;
    right: 1ex;
    background-color: #f1f1f1;
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 1ex 2ex;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.menu-content a:hover {
    background-color: #ddd;
}

table.loginTable {
    border-style: solid;
    border-color: darkgray;
    background-color: white;
    padding: 1.5em 1em 1em 1em;
    position: fixed;
    top: 20%;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    z-index: 5;
}

div.fileDialog {
    border-style: solid;
    border-color: darkgray;
    background-color: white;
    padding: 1.5em 1em 1em 1em;
    visibility: hidden;
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 5;
}

div.head {
    display: block;
    text-align: center;
    background-color: #ddd;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: -1.5em -1em 1em;
}

div.mainHead {
    display: block;
    text-align: center;
    background-color: #ddd;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom-style: solid;
    border-color: gray;
    border-width: 1px;
}

div.fileList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y:auto;
    max-height: 20em;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
}

div.fileEntry {
    padding: 0.2em 0.2em 0.2em 0.2em;
}
div.fileEntry:hover {
    background-color: #ddd;
}

img.icon {
    position: relative;
    top: 0.1em;
    width: 1.7em;
    height: 1.7em;
}

input.range-slider {
    width: calc( 100% - 0.5em);
}
div.gui-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-bottom: 0.5em;
}
