@media (pointer: coarse) {
    body {
        font-family: Arial, sans-serif;
        font-size: 120%;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}

@media (pointer: fine) {
    body {
        font-family: Arial, sans-serif;
    }
}

@media (orientation: landscape) {
    svg.svg {
        width: auto;
        height: 100%;
    }
}

@media (orientation: portrait) {
    svg.svg {
        width: 100%;
        height: auto;
    }
}


body, html {
    margin: 0;
    padding: 0;
}

math {
    font-size: 110%;
}

input.range-slider {
    width: calc( 100% - 0.5em);
}
div.gui-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0.5em;
    text-align: left;
}

div.div-main {
    text-align: center;
}

div#gui-inner {
    text-align: center;
}

div:has( div.gui-container ) {
    height: 100vh;
    border: none;
    display: grid;
    grid-template-rows: 1fr min-content;
}

