<!DOCTYPE html>
<html lang='{{$.MsgID "langID"}}'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Control</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  {{if .InBrowser}}
  <script src="/assets/wasm_exec.js"></script>
  <script>
    const go = new Go();
   	WebAssembly.instantiateStreaming(fetch("/assets/generate.wasm"), go.importObject).then((result) => {
      go.run(result.instance);
      let source = document.getElementById('source')
      if (source!=null) {
          if (source.value != "") {
              window.history.replaceState({}, document.title, window.location.pathname);
              runSource();
          }
      }
    });
  </script>
  {{end}}
  <script type="text/javascript" src="/assets/main.js"></script>
  {{if .InBrowser}}
  <script type="text/javascript" src="/assets/runInBrowser.js"></script>
  {{else}}
  <script type="text/javascript" src="/assets/runOnServer.js"></script>
  {{end}}
</head>
<body onload="init();">
<div class="main">
  <div id="result">{{.Result}}</div>
  <div class="window">
    <div class="mainHead">
      <label for="source" id="filenameLabel"></label><br>
    </div>
    <div class="toolbar">
        <button id="new" onclick="newScript();" title='{{$.MsgID "new" }}'><img class="icon" src="/assets/new.svg"/></button>
        <button id="load" onclick="showLoad();" title='{{$.MsgID "open" }}'><img class="icon" src="/assets/open.svg"/></button>
        <button id="save" onclick="save();" title='{{$.MsgID "save" }}'><img class="icon" src="/assets/save.svg"/></button>
        <button id="saveAs" onclick="showSaveAs();" title='{{$.MsgID "saveAs" }}'><img class="icon" src="/assets/save-as.svg"/></button>
        <button id="run" onclick="runSource();" title='{{$.MsgID "execute" }}'><img class="icon" src="/assets/refresh.svg"/></button>
        <button id="runInWindow" class="hideOnMobile" onclick="runSourceInWindow();" title='{{$.MsgID "executeW" }}' style="margin-left:1em;"><img class="icon" src="/assets/refreshWindow.svg"/></button>
        <button id="newWin" class="hideOnMobile" onclick="newWindow();" title='{{$.MsgID "newWindow" }}'><img class="icon" src="/assets/window-new.svg"/></button>
        <button id="example" style="margin-left:auto" onclick="showPopUpById('examples');" title='{{$.MsgID "examples" }}'><img class="icon" src="/assets/help.svg"/></button>
    </div>
    <div style="display:flex;">
      <textarea class="source" rows="2" autocorrect="off" id="source" placeholder='{{$.MsgID "placeholder" }}' onkeyup="updateRow()" onclick="updateRow()">{{.Code}}</textarea>
    </div>
    <div class="footer">
        <span style="display:inline-block;width:3em;text-align:center;" id="row">1</span>
    </div>
  </div>
</div>

<nav class="menu-content" id="examples">
    {{range .Examples}}
    <a onclick="loadExample('{{.Name}}','{{$.MsgID .I18N}}')" >{{$.MsgID .I18N}}</a>
    {{end}}
    <a style="border-top: 2px solid white;" onclick="hidePopUp()" href="help.html" target="_blank">{{$.MsgID "help"}}</a>
    <a onclick="sourceLink()" title='{{$.MsgID "copyLink" }}'>{{$.MsgID "sourceLink"}}</a>
    <a onclick="showPopUpById('info')">{{$.MsgID "info"}}</a>
</nav>

<div class="fileDialog" id="saveDiv">
    <div class="head">
        {{$.MsgID "save"}}
    </div>
    <div style="display:flex; margin-bottom:0.5em;align-items: center;">
        <label for="filename">{{$.MsgID "filename"}}:</label>
        <input class="file" size="25" type="text" id="saveDialogFilename"/>
    </div>
    <div class="fileList" id="saveFileList">
    </div>
    <div class="buttons" style="margin-top:0.5em;">
        <button onclick="deleteFileConfirm();" title='{{$.MsgID "delete" }}'><img class="icon" src="/assets/delete.svg"/></button>
        <button style="margin-left:auto" onclick="hidePopUp();" title='{{$.MsgID "cancel" }}'><img class="icon" src="/assets/cancel.svg"/></button>
        <button onclick="saveSource();" title='{{$.MsgID "ok" }}'><img class="icon" src="/assets/ok.svg"/></button>
    </div>
</div>

<div class="fileDialog" id="loadDiv">
    <div class="head">
        {{$.MsgID "open"}}
    </div>
    <div style="margin-bottom:0.5em;">
        {{$.MsgID "available"}}:
    </div>
    <div class="fileList" id="loadFileList">
    </div>
    <div class="buttons" style="margin-top:0.5em;">
        <button style="margin-left:auto" onclick="hidePopUp();" title='{{$.MsgID "cancel" }}'><img class="icon" src="/assets/cancel.svg"/></button>
    </div>
</div>

<div class="fileDialog" id="overwriteConfirm">
    <div>
    {{$.MsgID "discardConfirm" }}
    </div>
    <div style="text-align:right;margin-top:0.5em;">
        <button onclick="hidePopUp();">{{$.MsgID "cancel" }}</button>
        <button onclick="overwriteConfirmed();">{{$.MsgID "discard" }}</button>
    </div>
</div>

<div class="fileDialog" id="deleteError">
    <div>
    {{$.MsgID "deleteError" }}
    </div>
    <div style="text-align:right;margin-top:0.5em;">
        <button onclick="hidePopUp();">{{$.MsgID "ok" }}</button>
    </div>
</div>

<div class="fileDialog" id="linkCopied">
    <div>
        {{$.MsgID "linkCopied" }}
    </div>
    <div style="text-align:right;margin-top:0.5em;">
        <button onclick="hidePopUp();">{{$.MsgID "ok" }}</button>
    </div>
</div>

<div class="fileDialog" id="saveConfirm">
    <div>
    "<span id="confirmName"></span>": {{$.MsgID "alreadyExists"}}
    </div>
    <div style="text-align:right;margin-top:0.5em;">
        <button onclick="hidePopUp();">{{$.MsgID "cancel" }}</button>
        <button onclick="overwriteSource();">{{$.MsgID "overwrite" }}</button>
    </div>
</div>

<div class="fileDialog" id="deleteConfirm">
    <div>
    "<span id="confirmDeleteName"></span>": {{$.MsgID "deleteConfirm" }}
    </div>
    <div style="text-align:right;margin-top:0.5em;">
        <button onclick="hidePopUp();">{{$.MsgID "cancel" }}</button>
        <button onclick="deleteFile();">{{$.MsgID "delete" }}</button>
    </div>
</div>

<div class="fileDialog" id="networkError">
    <div>
    {{$.MsgID "networkError"}}<br>
    {{$.MsgID "serverNotReachable"}}
    </div>
    <div style="text-align:right;margin-top:0.5em;">
        <button onclick="hidePopUp();">{{$.MsgID "ok" }}</button>
    </div>
</div>

<div class="fileDialog" id="info">
    <div class="head">{{$.MsgID "info" }}</div>
    <div>
        <pre>{{.InfoText}}</pre>
    </div>
    <div style="text-align:right;margin-top:0.5em;">
        <button onclick="hidePopUp();">{{$.MsgID "ok" }}</button>
    </div>
</div>

</body>
</html>