<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Control</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script type="text/javascript" src="/assets/main.js"></script>
</head>
<body>
<div id="result" style="width:100%;"></div>
<div>
<textarea class="source" rows="10" type="text" id="source" placeholder="Enter script here">let s=lin();
let g=3/((s+1)*(s+2));
g.nyquist()</textarea>
</div>
<div>
  <button id="run" onclick="runSource();">Run</button>
  <button id="clear">Clear</button>
</div>
</body>
</html>